<div class="login-bg"></div>
<div class="login-container">
    <div class="login-inside">
        <form action="/login" method="POST">
            <h1>POST FILES</h1>
            <% if (messages.error) { %>
                <div class="login-message">
                    <i class="fa-solid fa-circle-exclamation" style="color: #fff;"></i><p style="margin: .5rem;"><%= messages.error %></p>
                </div>
            <% } else{ %>
                <p style="text-align: center;">Please fulfill all the information in the blanks.</p>
            <% } %>
            <br>
            <input type="text" name="name" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <button type="submit" style="margin-top: 1rem;">Login</button>
            <div class="login-feature">
                <div class="login-remember">
                    <input type="checkbox" name="remember" id="remember">
                    <label for="remember">Remember me</label>
                </div>
                <a href="/login" style="font-style: italic;">forgot password?</a>
            </div>
            <hr>
            <div class="login-register">
                <a href="/register">create an account</a>
            </div>
        </form>
    </div>
</div>