<div class="main-bg">
    <div class="main-container">
        <%- include('./partials/header.ejs') %>
        <div class="main-navigator">
            <a id="games" href="/" style="text-shadow: 0 0 5px #fff, 0 0 5px #fff;">Files</a>
            <a id="creators" href="/creators" style="color: #fff; text-shadow: 0 0 5px #1d1d1d, 0 0 5px #1d1d1d;;">Creators</a>
        </div>
    </div>
    <%- include(sectionPath) %>
    <h4 style="color: #fff; text-align: center;margin: 2rem;margin-top: 3.6rem;">Website was made by: Hawler Mathew</h4>
</div>